<div class="block p-6 rounded-lg shadow-lg bg-zinc-100 max-w-sm">
  <%= render "form", category: @category, url: category_path(@category), method: :patch  %>
  <div class="flex flex-row mt-8">
    <button class="px-6 py-2.5 w-3/6 mr-1 bg-neutral-700 text-white font-medium text-sm leading-tight shadow-md
      hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
      active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">
      <%= link_to 'Back', category_path(@category) %>
    </button>
    <button>
      <%= button_to 'Delete', category_path(@category), method: :delete,
      class: "px-6 py-2.5 w-3/6 ml-1  bg-neutral-700 text-white font-medium text-sm leading-tight shadow-md
      hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
      active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out" %>
    </button>
  </div>
</div>