<div class="block p-6 rounded-lg shadow-lg bg-zinc-100 max-w-sm">
  <div class="flex flex-col">
    <%= render "form", category: @category, url: categories_path, method: :post %>
    <button class="px-6 py-2.5 mt-3 bg-neutral-700 text-white font-medium text-sm leading-tight shadow-md
    hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
    active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"><%= link_to "Back", root_path %></button>
  </div>
</div>